@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


#output::-webkit-scrollbar,
#output::-webkit-scrollbar-thumb {
  width: 24px;
  background-clip: padding-box;
  border: 10px solid rgb(51 65 85);
}

#output::-webkit-scrollbar-thumb{
  border-radius: 12px;
}

#output::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

#output::-webkit-resizer {
  display: none;
}

#record-form input,textarea {
  box-shadow: none !important;
  border: none!important;
  background-color: rgb(51 65 85) !important;
}


#output-code{
  position: relative;
}

#copy-icon {
  position: absolute;
  background-color: rgb(73, 84, 100) !important;
  border-radius: 8px !important;
  padding: 10px;
  top: 5px;
  right: 70px;
  margin-right: 15px !important;
}

#clear-icon {
  position: absolute;
  background-color: rgb(73, 84, 100) !important;
  border-radius: 8px !important;
  padding: 10px;
  top: 5px;
  right: 45px;
}

#settings-icon {
  position: absolute;
  background-color: rgb(73, 84, 100) !important;
  border-radius: 8px !important;
  padding: 10px;
  top: 5px;
  right: 5px;
}

.bg-dropdown{
  box-shadow: none !important;
  border: none!important;
  background-color: rgb(51 65 85) !important;
}
