@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

#output::-webkit-scrollbar,
#output::-webkit-scrollbar-thumb {
  width: 24px;
  background-clip: padding-box;
  border: 10px solid rgb(51 65 85);
}

#output::-webkit-scrollbar-thumb{
  border-radius: 12px;
}

#output::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

#output::-webkit-resizer {
  display: none;
}

#record-form input,textarea {
  box-shadow: none !important;
  border: none!important;
  background-color: rgb(51 65 85) !important;
}


#output-code{
  position: relative;
}

#copy-icon {
  position: absolute;
  background-color: rgb(73, 84, 100) !important;
  border-radius: 8px !important;
  padding: 10px;
  top: 7px;
  right: 72px;
  margin-right: 15px !important;
}

#clear-icon {
  position: absolute;
  background-color: rgb(73, 84, 100) !important;
  border-radius: 8px !important;
  padding: 10px;
  top: 7px;
  right: 47px;
}

#settings-icon {
  position: absolute;
  background-color: rgb(73, 84, 100) !important;
  border-radius: 8px !important;
  padding: 10px;
  top: 7px;
  right: 7px;
}

.bg-dropdown{
  box-shadow: none !important;
  border: none!important;
  background-color: rgb(51 65 85) !important;
}

.modal-content {
  background-color: #2e3846  !important;
}
.modal-header {
  border-bottom: none !important;
}

#available-variables button{
  padding: 5px 10px !important;
  border-radius: 5px !important;
  background-color: rgb(22, 37, 55) !important;
  color: rgb(209, 209, 209) !important;
}

#available-variables button:hover{
  background-color: rgb(17, 32, 51) !important;
  color: rgb(226, 226, 226) !important;
  cursor: pointer;
}